<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Superhero Creator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/superman.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <div class="sky">
            <img class="star" src="http://www.script-tutorials.com/demos/360/images/stars.png" alt="" />
            <img class="star" src="http://www.script-tutorials.com/demos/360/images/stars.png" alt="" />
            <img class="star" src="http://www.script-tutorials.com/demos/360/images/stars.png" alt="" />
            <img class="superman" src="https://i.ibb.co/7jTf81q/superman.png" alt="" />
        </div>

</body>
</html>

