/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/*---------------Rotating Cube start-----------------*/

.wrap {
    margin-top: 150px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.cube {
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}

    .cube img {
        position: absolute;
        opacity: 0.8;
    }
        .cube img:nth-child(1) {
            transform: rotateY(0deg) translateZ(100px);
        }

        .cube img:nth-child(2) {
            transform: rotateY(90deg) translateZ(100px);
        }

        .cube img:nth-child(3) {
            transform: rotateY(180deg) translateZ(100px);
        }

        .cube img:nth-child(4) {
            transform: rotateY(-90deg) translateZ(100px);
        }

        .cube img:nth-child(5) {
            transform: rotateX(90deg) translateZ(100px);
        }

        .cube img:nth-child(6) {
            transform: rotateX(-90deg) translateZ(100px);
        }

@keyframes loop {
    from {
        transform: rotateX(0deg) rotateY(0deg)
    }

    to {
        transform: rotateX(360deg) rotateY(360deg)
    }
}
.cube {
    animation: loop 10s linear infinite;
}

/*---------------Rotating Cube end-----------------*/

    .backgroundImage {
        background-image: url('../images/superman.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #110f67;
    }
.backgroundColor {
    background-color: #033C73;
}

.backgroundColorGray {
    background-color: #343a40 !important;
    border-radius: .02em;
}
.backgroundColorLayout {
    background-color: #C71C22;
}
body-data_table {
    text-align: center;
}
.data_table {
    display: inline-block;
    overflow: hidden;

    padding: 10px;
    width: 500px;
}

    .data_table dt, .data_table dd {
        margin-bottom: 2px;
        float: left;
        display: block;
    }

    .data_table dt {
        clear: both;
        padding-right: 12px;
        padding-left: 125px;
    }

dl {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-top: 0;
    margin-bottom: 1rem;
}

body-data_table {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #033C73;
    color: white;
}
/*---------------Glowing Text start-----------------*/
.glow {
    position: center;
    font-size: 80px;
    color: #C71C22;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    bottom: 100px;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

} 
